.footer {
    background-color: getColor('background-color-footer');
    padding-top: 60px;
    padding-bottom: 60px;

    &__down {
    display: flex;
    align-items: baseline;
    }
    
    &__information {
    margin-right: 70px;
    }
    
    &__logo {
    display: block;
    margin-bottom: 20px;
    color: getColor('logo-header-footer');
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    }
    
    &__accent {
    color: getColor('accent-color-white');
    }
    
    &__content {
    width: 231px;
    }
    
    &__item {
    margin-bottom: 9px;
    }
    
    &__link {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: getColor('color-link-footer');
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
    }
    &__item:last-child {
    margin-bottom: 0;
    }

    &__link:hover,
    &__link:focus {
    color: getColor('hover-color');
    }
}

