.footer-form {
    margin-left: auto;

    &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('accent-color-white');
    font-style: normal
    }
    
    &__container {
    width: 570px;
    display: flex;
    }
    
    &__input {
    padding: 15px 16px 15px;
    height: 50px;
    width: 358px;
    border: 1px solid getColor('border-rgba');
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: getColor('background-color');
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: getColor('color-input');
    }
   
    &__button {
    font-size: 100%;
    position: relative;
    padding: 10px 28px;
    margin-left: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: getColor('accent-color-white');
    width: 200px;
    background-color: getColor('background-color-button');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    }
    
    &__icon {
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    position: absolute;
    fill: currentColor;
    }
}

