.footer {
    background-color: getColor('background-color-footer');
    padding-top: 60px;
    padding-bottom: 60px;
    
    &__down {
      
    @media screen and (max-width:1199px) {
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    }
    @media screen and (min-width:768px){
    display: flex;}
    
    @media screen and (min-width:1200px) {align-items: baseline;}
    }
    
    &__information{
    @media screen and (min-width: 768px) and (max-width: 1199px){
    margin-right: 165px;}

    @media screen and (min-width:1200px) {
    margin-right: 70px;}
        
    
    @media screen and (max-width:767px) {
    margin-bottom: 60px;
    }
    
    }
    &__logo {
    display: block;
    margin-bottom: 20px;
    color: getColor('logo-header-footer');
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    }
    &__address{
    @media screen and (max-width:767px) {
    text-align: center;
    }
       
    }
    &__accent {
    color: getColor('accent-color-white');
    }
    
    &__content {
        width: 100%;
        @media screen and (min-width:1200px) {
        width: 231px;
        }
    }
    
    &__item {
    margin-bottom: 8px;
    @media screen and (min-width:1200px) {
    margin-bottom: 9px;}
    &:last-child {
    margin-bottom: 0;}
    }
    
    &__link {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: getColor('color-link-footer');
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
    }
    
    &__link:hover,
    &__link:focus {
    color: getColor('hover-color');
    }
    &__accent{
        color: getColor('accent-color-white');
    }
}

