.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotatey(360deg);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: getColor('background-color-white');
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 100%;
    max-width: 528px;
    height: 100%;
    max-height: 581px;
    padding: 40px;
    overflow-y: auto;

    &__title {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: getColor('title-text-color');
    }
    
    &__button-close {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    border-radius: 50%;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: getColor('accent-color');
    background-color: getColor('background-color-white');
    }
    &__button-close:hover,
    &__button-close:focus {
    fill: getColor('color-fill');
}


}

