
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* body */
body {
    color: getColor('primary-text-color');
    background-color: getColor('background-color-white');
    font-family: "Roboto", sans-serif;
}